@using Blog
@model IEnumerable<Blog.Core.Models.Profile>

</div>
<div class="col-12 col-lg-8 order-lg-0 mt-1">
    <h6>Все Анкеты:</h6>
    @foreach (var profile in @Model)
    {
        <div class="row">
            <div class="col-12 col-lg-10">
                @profile.ProfilePreview
            </div>
            @Html.ActionLink("Details", "Details", new { id = profile.Id }, new { @class = "col-12 col-lg-2 btn btn-primary" })
        </div>

    }

</div>
